
# Python
__pycache__/
*.py[cod]
*/venv/
*/.env

plots/


# Node
node_modules/
.next/
.cache/
dist/
build/

# IDE
.vscode/
.idea/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# archive files
archive/*
archive/

# csv files
*.csv

# macOS
/.DS_Store
**/.DS_Store

frontend/.bolt/

/.expo/
backend/app/external/utilities/data/
viz_tools/strategy_time_series.py